---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl"
        >
          Unleashing Tomorrow's Solutions Today with GenNexa's AI-powered SaaS
        </h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300">
          Step into the future with GenNexa, where innovation meets
          intelligence. Our AI-powered SaaS solutions redefine the landscape of
          business technology, unlocking tomorrow's solutions today. Experience
          a seamless journey of efficiency, growth, and unparalleled success as
          we unleash the power of artificial intelligence to propel your
          business forward. With GenNexa, the future is now, and your enterprise
          is at the forefront of cutting-edge solutions.
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
            <!-- <a
              href="#"
              class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white"
                >Get started</span
              >
            </a>
            <a
              href="#"
              class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
            >
              <span
                class="relative text-base font-semibold text-primary dark:text-white"
                >Learn more</span
              >
            </a> -->
        </div>
        <div
          class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex gap-2 justify-between"
        >
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              The lowest price
            </h6>
            <p class="mt-2 text-gray-500">
              Revolutionize your business with AI SaaS by GenNexa. Experience
              unparalleled innovation at the lowest price, empowering your
              success journey.
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              The fastest on the market
            </h6>
            <p class="mt-2 text-gray-500">
              Accelerate your success with GenNexa. Our AI SaaS is the fastest
              on the market, propelling your business into the future at
              unparalleled speed.
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              The most loved
            </h6>
            <p class="mt-2 text-gray-500">
              Choose GenNexa for AI SaaS that's the most loved. Elevate your
              experience with a solution that wins hearts while powering your
              business forward.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="p-4 grayscale transition duration-200 hover:grayscale-0"> -->
      <!-- <div class="mt-12 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5">
        <div class="p-4 transition duration-200">
          <img
            src="./images/clients/urban-money.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 transition duration-200">
          <img
            src="./images/clients/expertcallers.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 transition duration-200">
          <img
            src="./images/clients/aditya-birla-group.png"
            class="h-16 w-auto m-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 transition duration-200">
          <img
            src="./images/clients/fws.webp"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 transition duration-200">
          <img
            src="./images/clients/embassy-group.png"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
      </div> -->
    </div>
  </Container>
</div>
